/*HOME*/
/*TYPOGRAPHY*/

body {
    font-family: 'Open Sans', sans-serif;
    color: #37424a;
    border-radius: 0px;
}
a {
    outline: none;
}
.header-banner h1 {
    font-family: 'Pt Serif', serif;
    color: #37424a;
    font-weight: bold;
}
.hp h1 {
    font-size: 190px;
}
.ap h1{
    font-size: 80px;
}

.header-banner h3 {
    font-family: 'Open Sans', sans-serif;
}

img.eyeris-logo  { width: 150px;
}

.portfolio-item h4 {
    font-family: 'Open Sans', sans-serif;
/*    font-weight: bold; */
}

body {
    background-color: #f4f4f4;
}

a {
    color: #37424a;
}

a:hover {
    text-decoration: underline;
    color: #37424a;
}

.navbar-nav > li > a:hover {
    background-color: transparent;
    text-decoration: underline;
}

.navbar-right {
    font-size: 15px;
    font-weight: bold;
}

.content {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.banner-bg {
    background-color: #cc9999;
    width: 100%;
}

.navigation1 {
    padding-top: 30px;
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    border-color: white;
}

.navbar-header a:hover {
    text-decoration: none;
}

.navbar-toggle {
    border-color: transparent;
    border-radius: 0px;
    background-color: #37424a;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-left: 0px;}
/*.container-fluid{padding-left: 0px;padding-right: 0px;}*/
.navbar-default .navbar-toggle {
    border-color: transparent;
    border-radius: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #cc9999;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: white;
}

.navbar-default .navbar-nav>li>a {
    color: #37424a;
}

.navbar-nav.navbar-collapse li a {
    background-color: white;
}

/*NAVBAR PORTFOLIO*/
.navbar {
    border-radius: 0px;
}

.nav.navbar-nav.portfolio {
    clear: left;
    /*float: left;*/
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
}

.nav.navbar-nav.portfolio li {
    position: relative;
    right: 50%;
    text-align: left;
}

.navbar-inverse .navbar-toggle {
    border-radius: 0px;
    border-color: transparent;
}

#navigation, #logo div {
    line-height: 120px;
}

.navbar-inverse {
    color: #37424a;
    background-color: white;
    border: none;
    font-size: 20px;
    margin-top: -30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.navbar-inverse .navbar-nav>li>a {color: #37424a;}
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #37424a;
    border-color: transparent;
}

.navbar-inverse .navbar-nav a:hover {
    text-decoration: none;
    border-color: #cc9999;
}

.container-fluid .jumbotron {
    background-color: #cc9999;
    padding-left: 0px;
    margin-bottom: 35px;
}

.jumbotron small {
    color: #ffcccc;
}

.navbar-inverse.navbar-toggle {
    border-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #cc9999;
}

.navbar-inverse .navbar-toggle:hover {
    color: #cc9999; background-color: transparent;
}

.navbar-inverse .navbar-toggle {
    background-color: transparent;
}

.navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > li > a:hover {
    color: white; background-color: #cc9999;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #cc9999;
}

.portfolio-list {
    padding: 30px 0px 0px 0px;
}

.portfolio-list img {
    width: 100%;
}

.portfolio-item {
    background-color: #fefefe;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.portfolio-list img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    /*    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

.portfolio-list img:hover {
    filter: none;
    -webkit-filter: none;
}


.container-fluid.project-info, .container-fluid.top-menu, .container-fluid.top-menu {
    padding-left: 0px; padding-right: 0px;
}

.project-info img {
    width: 100%;
    min-height: 5px;
}

.pi h2 {
    font-family: 'PT Serif', serif;
    color: #37424a;
    font-weight: bold;
}

div.jumbotron .pi {
    padding-right: 0px;
}

.project-info p {
    font-family: 'Open Sans', sans-serif;
}

span.headline {
    font-family: 'PT Serif', serif;
    color: #37424a;
    font-weight: bold;
    display: block;
    bottom: 10px;
}

div.piblock {
    padding-bottom: 15px;
}
/*FOOTER*/
.footer {
    text-align: center;
    margin: 0px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #37424a;
    color: #ebebeb;
    font-size: 15px;
    width: 90%;
    max-width: 1200px;
}


.footer a {
    color: #ebebeb;
    padding-right: 5px;
}
.footer a:hover {
    color: #cc9999;
}
.footer i{
    width: 25px;
    vertical-align: middle;
    color: #cc9999;
}

.footer img {
    height: 30px;
    width: 30px;
}

footer {background-color: #37424a;}
.material-icons {
    font-size: 16px;
}



/*ABOUT*/
/*TYPOGRAPHY*/
.about h3 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

.about {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 16px;
}

.column {
    border-right: 1px solid grey;
}

.edu {
    border-right: 1px solid grey;
}


.timeline {
    border-left: 2px solid white;
}

.timeline li {
    list-style-type: none;
}


img.section-flag-icon {
    height: 45px;
}

.glyphicon-triangle-right {
    color: white;
    left: -20px;
}

.new_line {
    padding-bottom:10px;
    padding-top:10px;
    display: block;
}
.contact {
        display: inline;
}
@media (max-width: 561px) {
    .contact {
        display: block;
        padding-bottom:5px;
        }
}
hr {
    border-top: 1px solid grey;
}

.languages.col-sm-5 {
    border-right: 1px solid grey;
}

.hobby li {
    list-style-type: none;
}

span.hobby {
    float: left;
    width: 100%;
}

.skills hr {
    border-top: 1px solid white;
}

@media screen and (max-width: 451px) {
    .about {
        display: none;
    }
}

@media screen and (min-width: 451px) {
    .for-phone {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .column.col-md-6 {
        border-right: 0px;
    }
}

@media screen and (min-width: 991px) {
    hr.visible {
        display: none;
    }
}

.for-phone h4 {
    font-family: 'PT Serif', serif;
    color: #37424a;
    font-weight: bold;
}

.for-phone ul {
    float: left;
}

.for-phone {
    background-color: #f5f7f8;
    padding: 30px 15px 10px 15px;
}

@media screen and (max-width: 768px) {
    .jumbotron.hp, .jumbotron h1 {
        font-size: 52px;
    }

    .jumbotron.hp, .jumbotron small {
        font-size: 36px;
    }

    .jumbotron h3 {
        font-size: 20px;
    }
}

.about li:before {
    content: "- ";
    color: #37424a;
}

.for-phone li:before {
    content: "• ";
    color: white;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 10px;
}

.hobby ul {
    padding-left: 0px;
}


.container-fluid .jumbotron {
        padding-right: 0px;
    }

.navbar-default .navbar-nav > .lang > a {
    color: #cc9999;
}

.navbar-default .navbar-nav > .lang > a:hover {
    text-decoration: none;
}

.panel-default, .panel-default > .panel-heading {
    background-color: #e6e4e4;
    border-color: transparent;
    box-shadow: none;
}

.panel-group .panel {
    border-radius: 0px;
    box-shadow: none;
    background-color: #e6e4e4;
    border-color: transparent;
}
/*.twentytwenty-wrapper{padding-bottom: 30px;}*/
.retouch {padding-bottom: 30px;}

.languages h3, .interests h3, .skills h3 {margin-top: 0px;}
.skills {
    padding-left: 40px;
    padding-right: 40px;
}


.fancybox-skin {border-radius: 0px;}

h2, h3 {line-height: 120%;}
h4 {line-height: 130%;}
img.tools {width: 55px; padding: 5px;}

.contact-info {
    font-size: 1.2em;
    padding-right: 5px;
}

.eyeris-project {
    cursor: pointer;
}

.ghost-button {
    color: #37424a;
    background: transparent;
    border: 2px solid white;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    padding: 15px 40px;
    text-decoration: none;
    width: 120px; height: 60px;
    margin: auto;
    vertical-align: center;
}

.ghost-button:hover, .ghost-button:active, .ghost-button:focus {
    color: #37424a;
    background-color: white;

  text-decoration: none;
}

.btn, .btn.active {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border-radius: 0px;
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: none;
    color: #37424a;
}
.btn.active {background-color: white;}
.btn:hover, .btn.active:hover, .btn:focus {
    background-color: white;
    border: 1px solid white;
    color: #37424a;
}


.navbar-right {position: relative;}
.btn-default {position: absolute;margin: 0 auto;}

.jumbotron {text-align: center;}


.p-about {
    text-align: left;
    font-size: 16px;

}
.p-about h2{
    font-family: 'Open Sans', serif;
    color: #37424a;
    font-weight: bold;
}
.p-about p{
    padding-bottom: 15px;
}
.banner-bg{
    padding-bottom: 20px;
}

.jumbotron h2{
    padding-bottom: 40px;
}
.container-fluid .jumbotron{
    padding-top: 0px;
    padding-right: 0px;
}

.navbar-nav .btn-group{
    padding-top: 7px;
}

.icon .glyphicon-chevron-left {background-color: #ebebeb;}
.ap {
    padding-bottom: 15px;
}
.about h3 {
    padding-bottom: 0px;
}
.line {
    padding-bottom: 10px;
}
.ap h2 {
    margin-top: 10px;
    margin-bottom: 30px;
}
.previous, .next, .scroll-to-top {
    color: #37424a;
    background-color: white;
    border: none;
}
.previous:hover, .previous:focus, .next:hover, .next:focus, .scroll-to-top:hover, .scroll-to-top:focus  {
    color: #cc9999;
    background-color: #37424a;
    border: none;
}

.copyright {
    font-size: 14px;
    padding-top: 15px;
}

.responsibilities {
    font-style: italic;
    display: block;
}
.project-info-buttons {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
}

.new_line_about {
    display: block;
}
.project-info-buttons.btn-group>.btn {float: none;}
.project {padding: 0px 0px 0px;}
.col-md-6.project {padding-right: 7px; padding-left: 7px;}
.project-container {padding-bottom: 15px; padding-right: 0px; padding-left: 0px;}
.visitWeb {
    color: #37424a;
    background: transparent;
      border: 2px solid #cc9999;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 40px;
    text-decoration: none;
    width: 120px; height: 60px;
    margin-top: 20px;
}
.visitWeb:hover, .visitWeb:active, .visitWeb:focus {
  color: white;
  background-color: #cc9999;
  text-decoration: none;
}

.visitWebBtn {
    padding-top: 25px;
    padding-bottom: 40px;
    text-align: center;}

.info_block {
    background: white;
    padding-bottom: 25px;
box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.p-about li:before {
    content: "• ";
    color: #37424a;
}

div.col-md-3.col-xs-12.p-about {
    padding-left: 30px;
}
.p-about h3 {
    color: #cc9999;
}
.p-about object { box-shadow: 0 1px 3px rgba(0,0,0,0.1);}
.carousel-indicators li{
    border-color: #37424a;
}
.carousel-indicators .active {
    background-color: #37424a;
}
.carousel-control.right, .carousel-control.left{
    background-image: none;
    color: #37424a;
   }
.carousel-control glyphicon-chevron-left {
    color: #37424a;}
/*.img-fluid {
    max-height: 230px;

    margin-top: 20px;
}*/

.twentytwenty-container {
    margin: 20px;
}